.blog_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 4em;
    
    margin-right: 10%;
    margin-left: 10%;
    
}

.blog_component{
    width: 20rem;
    height: 40rem;
    padding: 1rem;
    margin: 0 auto;

    border: 1px solid black;
    border-radius: 15px;
}